.team-section {
  background-color: #f5f4fa;
  padding: 94px 0;
}

.team-section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--brand-color-main);
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-list-item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team-list-card {
  padding: 30px 0;
}

.team-list-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--brand-color-main);
  text-align: center;
  margin-bottom: 10px;
}

.team-list-text {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--brand-color-text);
  text-align: center;
  padding-bottom: 16px;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  transition: background-color var(--timing-function);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  &:hover,
  &:focus {
    background-color: var(--brand-color-focus);
    border-radius: 50%;
    &:hover .team-social-icon,
    &:focus .team-social-icon {
      fill: #ffffff;
    }
  }
}

.team-social-icon {
  fill: #afb1b8;
  transition: fill var(--timing-function);
}
